* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #292929;
  font-family: 'Roboto', sans-serif;

}

ul {
  list-style: none;
}

h1, h2, {
  font-family: 'Roboto Serif', serif;
  text-transform: uppercase;
}

h1 {
  color: #ffffff;
}
h3 {
  color: #08cf4bfd;
}

header {
  padding: 32px 0;
  text-align: center;
}

section {
  max-width: 300px;
  margin: 0 auto;
}

header h1 {
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 33px;
}

header h1 span {
  color: #3cff00;
}

header p {
  font-size: 14px;
  line-height: 16px;
  color: #00ffaaa8;
}

section {
  margin-bottom: 24px;
}

section h2 {
  background-color: #09ff00d2;
  padding: 8px 16px;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 24px;
  font-size: 18px;
}

ul li {
  margin-bottom: 16px;
  display: flex;
}

li .details {
  max-width: 240px;
}

strong {
  color: #03cc89;
}
.details h3 {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 19px;
}

.details p {
  color: #97979799;
  font-size: 14px;
  line-height: 21px;
}

.rodape {
  text-align: right;
  padding-right: 2px;
  padding-bottom: 12px;
  color: #ffffff;
}

.price {
  border-radius: 10px;
}

body:hover {
  color: #fff;
  background-color:#000000;
}

@media {
  body  {
    max-width: 1250px;
    min-height: 1050px;
  }
}